@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

:root{
    --primary: #212429;
    --secondary: #ffffff;
}


body{font-family: "Montserrat", serif;
  font-size: 14px;
font-style: normal;}

.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 1280px;
}

.producto{

  margin-left: 16px;
  margin-bottom: 16px;
  align-items: center;
}
 
.producto img{
  width: 80%;
  border-radius: 10px;
  height:auto;
}

.informacion{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 50%;
  margin-top: 8px;
  padding: 10px;

}

footer {
  display: flex;
  width: 1280px;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 20px;
  flex-shrink: 0;
  gap: 20px;
}

.elemento-footer {
  display: flex;
  flex-direction: column; /* Organiza el logo y el texto en columnas */
  justify-content: center;
  align-items: center;
  
  width: 50px;
  height: 50px;
  background-color: var(--secondary);
  border-radius: 50%; /* Crea un contenedor circular */
  color: var(--primary);
  flex-shrink: 0;
}

/* Logo con background blanco */
.elemento-footer img {
  max-width: 50%; 
  max-height: 50%;
}
