body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f4f4f4;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 100px); 
  grid-template-rows: repeat(2, 100px);  
  gap: 100px; 
  justify-content: center; }

.carta{
    background-color: #90D5FF;
    height: 150px;
    width: 150px;
    text-align: center;
    border-radius: 25px;
  
}
.carta img{
  text-align: center;
  margin: 5%
}
